<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--Virtual type section-->

    <virtualType name="Magento\Cron\Model\ResourceModel\Schedule\Virtual\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Cron\Model\ResourceModel\Schedule</argument>
        </arguments>
    </virtualType>

    <virtualType name="LizardMedia\CronScheduler\Logger\MassActionHandler" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">LizardMedia\CronScheduler\Logger\Handler\MassActionHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- End of virtual type section -->

    <!--Constructor parameter injection section-->

    <type name="LizardMedia\CronScheduler\Model\Manage\MassActions\Delete">
        <arguments>
            <argument name="logger" xsi:type="object">LizardMedia\CronScheduler\Logger\MassActionHandler</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cron_scheduler_index_data_source" xsi:type="string">Magento\Cron\Model\ResourceModel\Schedule\Virtual\Collection</item>
            </argument>
        </arguments>
    </type>

    <!--End of constructor parameter injection section-->

</config>
